﻿@{
    Layout = null;
}
@model Evraz.Phonebook.UI.Models.ViewModel
    <div class="container-fluid">
        <form id="PhoneData">
            @Html.HiddenFor(x => x.Phone.Id)
            @Html.HiddenFor(x => x.Phone.ContactId)

            <div class="form-group row">
                @Html.LabelFor(x => x.Phone.PhoneTypeId, "Тип", new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(x => x.Phone.PhoneTypeId, Model.PhoneTypeList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(x => x.Phone.Number, "Номер", new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Phone.Number, new { @class = "form-control" })
                </div>
            </div>

        </form>

        <div class="row">
            <button type="button" class="btn btn-success" onclick="EditPhone_PhoneAdd();">Сохранить</button>
            <button type="button" class="btn btn-default" onclick="EditPhone_Close()">Закрыть</button>
        </div>

    </div>

<script>

    $(document).ready(function () {
        $('#Phone_Number', '#PhoneData').mask("+7 (999) 999-99-99"); 
    });

    function EditPhone_Close() {
        $('#dialog').dialog('close');
    }

    function EditPhone_PhoneAdd() {

        if ($('#Phone_Number', '#PhoneData').val() == '') {
            alert('Введите номер!');
            return;
        }

        $.ajax({
            url: '@Url.Action("PhoneAdd", "Home")',
            dataType: 'json',
            data: $('#PhoneData').serialize(),
            success: function (json) {

                if (json.success) {

                    if (typeof (window['@Model.CallbackOk']) == 'function')
                        window['@Model.CallbackOk']();

                    EditPhone_Close();
                } else {
                    alert(json.message);
                }
            }
        });
    }
</script>