﻿@{
    Layout = null;
}
@model Evraz.Phonebook.UI.Models.ViewModel
    <div class="container-fluid">
        <form id="ContactData">
            @Html.HiddenFor(x => x.Contact.Id)

            <div class="form-group row">
                @Html.LabelFor(x => x.Contact.Lastname, "Фамилия", new { @class = "col-md-2 col-form-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Contact.Lastname, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(x => x.Contact.Firstname, "Имя", new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Contact.Firstname, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(x => x.Contact.Middlename, "Отчество", new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Contact.Middlename, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(x => x.Contact.OrganizationName, "Организация", new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Contact.OrganizationName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(x => x.Contact.Description, "Описание", new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Contact.Description, new { @class = "form-control" })
                </div>
            </div>

        </form>

        <div class="row">
            <button type="button" class="btn btn-success" onclick="EditContact_ContactAdd();">Сохранить</button>
            <button type="button" class="btn btn-default" onclick="EditContact_Close()">Закрыть</button>
        </div>

    </div>

<script>
    function EditContact_Close() {
        $('#dialog').dialog('close');
    }

    function EditContact_ContactAdd() {

        let isValid = false;
        $('input', '#ContactData').each(function () {
            if (!isValid && $(this).val() != '')
                isValid = true;
        });

        if (!isValid) {
            alert('Заполните хотя бы одно поле!');
            return;
        }

        $.ajax({
            url: '@Url.Action("ContactAdd", "Home")',
            dataType: 'json',
            data: $('#ContactData').serialize(),
            success: function (json) {

                if (json.success) {

                    if (typeof (window['@Model.CallbackOk']) == 'function')
                        window['@Model.CallbackOk']();

                    EditContact_Close();
                } else {
                    alert(json.message);
                }
            }
        });
    }
</script>