﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script>
        $.jgrid.defaults.width = 780;
        $.jgrid.defaults.responsive = true;
        $.jgrid.defaults.styleUI = 'Bootstrap';
    </script>

    <h2>Телефонный справочник</h2>

    <div class="row ">

        <div class="col-md-8 nopadding">
            <div class="">
                <button type="button" class="btn btn-success glyphicon glyphicon-plus" onclick="ContactAdd();">Добавить</button>
                <button type="button" class="btn btn-success glyphicon glyphicon-pencil" onclick="ContactEdit();">Изменить</button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-remove" onclick="ContactRemove();">Удалить</button>
            </div>

            <div style="margin-top:20px;">
                <table id="ContactGrid"></table>
                <div id="ContactGridPager"></div>
            </div>
        </div>

        <div class="col-md-4 nopadding">
            <div>
                <button type="button" class="btn btn-success glyphicon glyphicon-plus" onclick="PhoneAdd();"></button>
                <button type="button" class="btn btn-success glyphicon glyphicon-pencil" onclick="PhoneEdit();"></button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-remove" onclick="PhoneRemove();"></button>
            </div>

            <div style="margin-top:20px;">
                <table id="PhoneGrid"></table>
                <div id="PhoneGridPager"></div>
            </div>
        </div>

    </div>

    <div id="dialog"></div>

    <script type="text/javascript">

        $(document).ready(function () {

            ContactGridInitialize();
            PhoneGridInitialize();
        });

        function ContactGrid_onSelectRow(rowId) {
            var postData = $("#PhoneGrid").jqGrid('getGridParam', 'postData');
            postData['contactId'] = rowId;

            $("#PhoneGrid").jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
        }

        function ContactGrid_Reload() {
            $("#ContactGrid").jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
        }

        function ContactGridInitialize() {
            $("#ContactGrid").jqGrid({
                url: '@Url.Action("ContactGrid", "Home")',
                datatype: "json",
                mtype: "GET",
                colNames: ["ContactId", "Контакт", "Описание"],
                colModel: [
                    { name: "ContactId", width: 55, hidden: true, key: true},
                    { name: "ContactName", width: 90, align: "left", sortable: false },
                    { name: "Description", width: 90, align: "left", sortable: false, search: false }
                ],
                autowidth: true,
                height:'auto',
                rowNum: 10,
                rowList: [10, 20, 30],
                sortname: "invid",
                sortorder: "desc",
                viewrecords: true,
                gridview: true,
                autoencode: true,
                pager: "#ContactGridPager",
                onSelectRow: ContactGrid_onSelectRow
            }); 

            $('#ContactGrid').jqGrid('filterToolbar');

			$('#ContactGrid').jqGrid('navGrid',"#ContactGridPager", {
                search: false, // show search button on the toolbar
                add: false,
                edit: false,
                del: false,
                refresh: true
            });
        }

        
        function PhoneGrid_Reload() {
            $("#PhoneGrid").jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
        }

        function PhoneGridInitialize() {
            $("#PhoneGrid").jqGrid({
                url: '@Url.Action("PhoneGrid", "Home")',
                datatype: "local",
                mtype: "GET",
                colNames: ["PhoneId", "Тип телефона", "Телефон"],
                colModel: [
                    { name: "PhoneId", width: 55, hidden: true, key: true },
                    { name: "PhoneTypeName", width: 70, align: "left", sortable: false, search: false },
                    { name: "PhoneNumber", width: 150, align: "left", sortable: false}
                ],
                autowidth: true,
                height:'auto',
                rowNum: 10,
                rowList: [10, 20, 30],
                sortname: "invid",
                sortorder: "desc",
                viewrecords: true,
                gridview: true,
                autoencode: true,
                pager: "#PhoneGridPager"
            }); 

            $('#PhoneGrid').jqGrid('filterToolbar');

			$('#PhoneGrid').jqGrid('navGrid',"#PhoneGridPager", {
                search: false, // show search button on the toolbar
                add: false,
                edit: false,
                del: false,
                refresh: true
            });
        }

        function ContactAdd() {
            EditContactModal();
        }

        function ContactEdit() {
            let select = $('#ContactGrid').jqGrid('getGridParam', 'selrow');

            EditContactModal(select);
        }

        function EditContactModal(id) {
            let select = $('#ContactGrid').jqGrid('getGridParam', 'selrow');

            $.ajax({
                url: '@Url.Action("EditContact", "Home")',
                dataType: 'html',
                data: {
                    'Contact.Id': id,
                    CallbackOk: 'ContactGrid_Reload'
                },
                success: function (data) {
                    OpenDialog(data, "Редактрирование контакта", 350);
                }
            });
        }

        function ContactRemove() {
            let select = $('#ContactGrid').jqGrid('getGridParam', 'selrow');
            if (!select) {
                alert('Для удаления выберите контакт');
                return;
            }

            $.ajax({
                url: '@Url.Action("ContactRemove", "Home")',
                dataType: 'json',
                data: {
                    id: select
                },
                success: function (data) {
                    ContactGrid_Reload();
                }
            });
        }

        function PhoneAdd() {
            EditPhoneModal();
        }

        function PhoneEdit() {
            let select = $('#PhoneGrid').jqGrid('getGridParam', 'selrow');

            EditPhoneModal(select);
        }

        function EditPhoneModal(id) {
            let contactId = $('#ContactGrid').jqGrid('getGridParam', 'selrow');

            if (!contactId) {
                alert('Выберите контакт!');
                return;
            }

            $.ajax({
                url: '@Url.Action("EditPhone", "Home")',
                dataType: 'html',
                data: {
                    'Phone.Id': id,
                    'Phone.ContactId': contactId,
                    CallbackOk: 'PhoneGrid_Reload'
                },
                success: function (data) {
                    OpenDialog(data, "Редактрирование телефона", 200);
                }
            });
        }

        function PhoneRemove() {
            let select = $('#PhoneGrid').jqGrid('getGridParam', 'selrow');
            if (!select) {
                alert('Для удаления выберите телефон');
                return;
            }

            $.ajax({
                url: '@Url.Action("PhoneRemove", "Home")',
                dataType: 'json',
                data: {
                    id: select
                },
                success: function (data) {
                    PhoneGrid_Reload();
                }
            });
        }

        function OpenDialog(html, title, height) {
            $("#dialog").html(html);
            $("#dialog").dialog({
                bgiframe: true,
                autoOpen: true,
                height: height,
                width: 500,
                modal: true,
                title: title,
                close: function () {
                    $("#dialog").empty();
                }

            });
        }


    </script>